.lists-menu {
  display: inline-block;
  margin-left: 1rem;
  position: relative;
}

.lists-menu__lists {
  display: none;
  min-width: 250px;
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1rem;
}

.list-menu__item {
  min-height: 30px;
  display: block;
  padding: 0.5rem;
}

.list-menu__item input {
  height: 25px;
  padding: 0.5rem;
  border: 1px solid black;
}

/*Layout for mobile devices and tablets*/
@media screen and (max-width: 800px) {
  .list-icon {
    font-size: 1.5rem;
  }
}

/*Layout for laptops and desktop*/
@media screen and (min-width: 801px) {
  .lists-menu {
    cursor: pointer;
  }

  .list-icon {
    font-size: 2rem;
  }
}

/*Layout for bigger screens*/
@media screen and (min-width: 1441px) {
  .list-icon {
    font-size: 3rem;
  }

  .lists-menu__lists {
    min-width: 300px;
    font-size: 2rem;
  }

  .list-menu__item {
    height: 50px;
  }

  .list-menu__item input {
    height: 45px;
    font-size: 1.5rem;
  }
}

.lists-menu:hover .lists-menu__lists {
  display: block;
}

.list-menu__item a:hover,
.list-menu__item span:hover {
  color: #e94560;
  font-weight: bold;
}

/*Look and feel*/
.list-icon {
  color: #e94560;
}

.lists-menu__lists {
  background-color: #1a1a2e;
}

.list-menu__item input {
  background-color: #eeeeee;
}

.list-menu__item input::placeholder {
  color: #000;
}
