.movie-card__title {
  padding: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .movie-card {
    width: 300px;
  }
}

@media screen and (min-width: 1441px) {
  .movie-card a {
    font-size: 2rem;
  }
}

.movie-card {
  background-color: #e94560;
}
