.loading-movie {
  min-height: 100%;
  background-color: #e94560;
}

.movie-card {
  background-color: #e94560;
}

.movie-card__image {
  min-height: 78%;
  display: grid;
}

.movie-card__image img {
  align-self: stretch;
  object-fit: cover;
}

.movie-card__title {
  min-height: 22%;
}

.movie-card__title a {
  min-height: 100%;
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .movie-card {
    width: 300px;
  }
}

@media screen and (min-width: 1441px) {
  .movie-card__title a {
    font-size: 2rem;
  }
}
