.loading-movie {
  min-height: 100%;
  background-color: #e94560;
}

.movie-card {
  width: 20vw;
  height: 60vh;
  background-color: #e94560;
  position: relative;
}

.movie-card__image {
  min-height: 90%;
  background-size: cover;
  background-position: center;
}

.movie-card__title {
  min-height: 10%;
  padding: 0.6vw;
  font-size: 1.2vw;
}

@media screen and (max-width: 480px) {
  .movie-card {
    width: 300px;
  }

  .movie-card__title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .movie-card {
    width: 300px;
    height: 40vh;
  }

  .movie-card__title {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 1441px) {
  .movie-card__title a {
    font-size: 2rem;
  }
}
