.home {
  min-height: 100vh;
}

.home__movies {
  min-height: 90vh;
  display: grid;
  gap: 40px 20px;
  padding: 1rem;
}

.home__title {
  padding: 1rem;
  text-align: center;
}

/* Layout for mobile devices*/
@media screen and (max-width: 480px) {
  .home__movies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Layout for tablets*/
@media screen and (min-width: 481px) and (max-width: 800px) {
  .home__movies {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Layout for laptops and desktop */
@media screen and (min-width: 801px) {
  .home__movies {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1441px) {
  .home__title {
    font-size: 4rem;
  }
}
