.movies-list {
  min-height: 100vh;
}

.movies-list__header {
  padding: 1rem;
}

.movies-list__title {
  margin-bottom: 0.5rem;
}

.movie-list__icons {
  margin-left: 1rem;
  color: #e94560;
  font-size: 2rem;
  cursor: pointer;
}

.movies-list__movies {
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 2rem;
}

.movies-list__delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  font-size: 1.5rem;
}

.movies-list__delete-icon:hover {
  color: #0f3460;
}

/* Layout for mobile devices */
@media screen and (max-width: 480px) {
  .movies-list__title {
    font-size: 1.5rem;
  }

  .movies-list__movies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie-list__icons {
    font-size: 1.5rem;
  }
}

/* Layout for tablets*/
@media screen and (min-width: 481px) and (max-width: 800px) {
  .movies-list__header {
    justify-content: center;
  }

  .movies-list__movies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 801px) {
  .movies-list__movies {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1441px) {
  .movies-list__title {
    font-size: 2.5vw;
  }

  .movie-list__icons {
    margin-left: 1.25vw;
    font-size: 1.8vw;
  }

  .movies-list__delete-icon {
    font-size: 1.6vw;
  }
}
