.features-bar {
  min-height: 10vh;
  display: flex;
  z-index: 1;
}

.features-bar__features-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
}

.toggle-sidebar {
  min-width: 35px;
  height: 35px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background-color: #e94560;
  color: #eeeeee;
  z-index: 1;
}

.features-bar__search {
  align-self: center;
  outline: 1px solid grey;
  margin: 0 auto;
}

.features-bar__search input {
  width: 64vw;
  height: 35px;
  padding-left: 1rem;
  border: none;
}

.features-bar__search button {
  width: 50px;
  height: 35px;
  line-height: 35px;
  border: none;
  background: #e94560;
}

/* Layout for mobile devices*/
@media screen and (max-width: 480px) {
  .features-bar__features-list {
    min-width: 100vw;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    background-color: #16213e;
    font-size: 2rem;
  }

  .features-bar__item {
    display: block;
    min-height: 50px;
    min-width: 50px;
    text-align: center;
  }

  .features-bar__item select {
    min-width: 200px;
    font-size: 1.5rem;
  }

  .toggle-sidebar {
    display: grid;
    place-content: center;
  }
}

/* Layout for tablets*/
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .features-bar {
    flex-wrap: wrap;
  }

  .features-bar__item select {
    width: 70px;
  }
}

/* Layout for laptops and desktop */
@media screen and (min-width: 1024px) {
  .features-bar {
    position: sticky;
    top: 0;
  }
  .features-bar__search {
    margin-right: 1rem;
  }

  .features-bar__search input {
    width: 25vw;
  }
}

/* Bigger screens layout */
@media screen and (min-width: 1441px) {
  .features-bar,
  .features-bar__item select {
    font-size: 2rem;
  }

  .features-bar__search {
    height: 50px;
  }

  .features-bar__search input,
  .features-bar__search button {
    height: 50px;
    font-size: 2rem;
  }
}

.features-bar__search--hide {
  display: none;
}

.features-bar__features-list--sidebar {
  display: flex;
}

/*Look and feel*/
@media screen and (min-width: 801px) {
  .features-bar {
    background-color: #16213e;
  }
}

.features-bar__search input::placeholder {
  color: #000;
}
