.fetching-movie {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.movie {
  min-height: 100vh;
}

.movie__poster-image {
  max-height: 100vh;
}

.movie__description {
  padding: 0 1rem;
}

.movie__overview {
  text-align: justify;
}

.movie__title,
.movie__similar-movies h3,
.youtube-container h2 {
  padding: 1rem;
}

.movie__genres {
  padding: 1rem;
}

.movie__genres li {
  width: 150px;
  padding: 0.5rem;
  display: inline-block;
  margin: 0rem 1rem 1rem 1rem;
  background-color: teal;
  font-size: 0.9rem;
  text-align: center;
}

.youtube-container {
  text-align: center;
}

.no-movies {
  text-align: center;
}

/* Layout for mobile devices  and tablets*/
@media screen and (max-width: 1023px) {
  .movie__poster-image {
    display: none;
  }

  .movie__title {
    text-align: center;
  }

  .movie__genres {
    display: none;
  }

  .movie__similar-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .movie__similar-movies h3 {
    grid-column: 1 / 4;
  }

  .movie__similar-movies a:nth-child(11) {
    display: none;
  }

  .movie__trailer {
    width: 95%;
    height: 85%;
  }
}

/*Layout for tablets*/
@media screen and (min-width: 540px) and (max-width: 800px) {
  .movie {
    font-size: 1.5rem;
  }

  .movie__trailer {
    height: 300px;
  }
}

/* Layout for laptops and desktops */
@media screen and (min-width: 1025px) {
  .movie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .movie__poster {
    display: grid;
    padding: 1rem;
  }

  .movie__similar-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 3;
    gap: 10px;
    padding: 1rem;
  }

  .movie__similar-movies h3 {
    grid-column: 1 / 6;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
  }

  .movie__title {
    min-height: 10vh;
    font-size: 2rem;
  }

  .movie__details {
    min-height: 90vh;
  }
}

@media screen and (min-width: 1441px) {
  .fetching-movie {
    font-size: 4rem;
  }

  .movie__title {
    font-size: 3vw;
  }

  .movie__overview {
    font-size: 1.25vw;
  }

  .movie__genres li {
    width: 200px;
    font-size: 1.25vw;
  }

  .youtube-container h2 {
    font-size: 2.5vw;
  }

  .movie__similar-movies h3 {
    font-size: 3vw;
  }

  .movie__trailer {
    width: 45vw;
    height: 40vh;
  }
}
