@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #0f3460;
  color: #eeeeee;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #eeeeee;
  text-decoration: none;
}

a:visited {
  color: #eeeeee;
}

img {
  width: 100%;
  height: auto;
}
